.container{
    padding: 20px 10px;
}
.container h2{
    font-size: 22px;
    color: #1a2a36;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    text-align: center;
}
.product-list-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
}

.container h3{
    font-size: 18px;
    color: #373737;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    text-align: left;
}
.cat-name-div{
    padding-left: 35px;
    display: flex;
    justify-content: left;
    align-content: center;
}
.cat-name-div mat-icon{
    margin-top: 10px;
}