<div class="container">
    <button mat-raised-button class="back-btn" (click)="navigateBack()" ><mat-icon>arrow_back</mat-icon>Back</button>
    <div class="cat-name-div">
        <h3>Our Products</h3>
        <mat-icon>chevron_right</mat-icon>
        <h3>Electronics Products</h3>
    </div>
    <div class="product-list-section">
        @for (data of products; track $index) {
            <app-product-card
                [productImg]="data.productImg"
                [productName]="data.productName"
                [productRating]="data.productRating"
                [productAvailability]="data.productAvailability"
                [productPrice]="data.productPrice"
            ></app-product-card>
        }
    </div>
</div>
