<div class="container">
    <div class="card">
        <div class="icon-container">
            <img src="./assets/images/year.png" alt="Year Icon" class="icon" />
        </div>
        <div class="number">06+</div>
        <div class="heading">Years of Experience</div>
        <div class="subheading">Established in 2018</div>
    </div>
    <div class="card">
        <div class="icon-container">
            <img src="./assets/images/project.png" alt="Project Icon" class="icon" />
        </div>
        <div class="number">70+</div>
        <div class="heading">Project Completed</div>
        <div class="subheading">Solar, Workshops and R&D</div>
    </div>
    <div class="card">
        <div class="icon-container">
            <img src="./assets/images/client.png" alt="Client Icon" class="icon" />
        </div>
        <div class="number">300+</div>
        <div class="heading">Client Served</div>
        <div class="subheading">Across India with Trust</div>
    </div>
    <div class="card">
        <div class="icon-container">
            <img src="./assets/images/product.png" alt="Product Icon" class="icon" />
        </div>
        <div class="number">35+</div>
        <div class="heading">Product Developed</div>
        <div class="subheading">Electronics, IoT & Embedded</div>
    </div>
    <div class="card">
        <div class="icon-container">
            <img src="./assets/images/training.png" alt="Training Icon" class="icon" />
        </div>
        <div class="number">285+</div>
        <div class="heading">Students Trained</div>
        <div class="subheading">Through Workshops </div>
    </div>
    <div class="card">
        <div class="icon-container">
            <img src="./assets/images/visit.png" alt="Visit Icon" class="icon" />
        </div>
        <div class="number">{{visitCount}}</div>
        <div class="heading">Visit Count</div>
        <div class="subheading">Trusted by Thousands of Visitors</div>
    </div>
</div>