<header class="container">
    <div class="tadoba-logo"><a href="#"><img src="./assets/images/logo.png" alt="Logo"></a></div>
    <ul class="nav-bar-link">
        <li><a><fa-icon [icon]="product"></fa-icon>Products</a>
            <div class="products">
                <ul>
                    <li><a routerLink="our-products">Our Products</a>
                        <div class="our-product-sub-menu">
                            <ul>
                                <li><a >Electromechanic Products</a></li>
                                <li><a >Solar Products</a></li>
                                <li><a >Agricultural Products</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a >Retail Products</a></li>
                </ul>
            </div>
        </li>
        <li><a ><fa-icon [icon]="course"></fa-icon>Trainings & Workshops</a>
            <div class="trainings-workshops-sub-menu">
                <ul>
                    <li><a>Certificate Program</a></li>
                </ul>
            </div>
        </li>
        <li><a ><fa-icon [icon]="service"></fa-icon>Services & Maintenance</a>
            <div class="services">
                <ul>
                    <li><a >Solar Pv Plant Installation</a></li>
                    <li><a >Customized Industrial Solutions</a>
                        <div class="customized-industrial-solution-sub-menu">
                            <ul>
                                <li><a >PCB Design & Fabrication</a></li>
                                <li><a >Water Overflow Control Solutions</a></li>
                                <li><a >Electronic Circuitry Customization</a></li>
                                <li><a >3D Prototype Printing</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a routerLink="career"><fa-icon [icon]="career"></fa-icon>Career</a></li>
        <li><a routerLink="about-us"><fa-icon [icon]="about"></fa-icon>About Us</a></li>
        <li><button mat-button class="signup-btn" (click)="openSignUpPopup()">SignUp</button></li>
        <div class="backdrop" *ngIf="isSignUpVisible" (click)="closeSignUpPopup()"></div>
        <div class="modal" *ngIf="isSignUpVisible">
            <app-sign-up></app-sign-up>
        </div>
    </ul>
    <div class="hamburger-menu">
        <!-- <fa-icon [icon]="hamBurgerMenu" (click)="toggleMenu()"></fa-icon> -->
        <fa-icon [icon]="isMenuOpen ? closeMenu : hamBurgerMenu" (click)="toggleMenu()"></fa-icon>
    </div>
    <ul class="nav-bar-link-res" [class.active]="isMenuOpen">
        <li><a><fa-icon [icon]="product"></fa-icon>Products<fa-icon [icon]="angleDown"></fa-icon></a>
            <div class="products-res">
                <ul>
                    <li><a routerLink="our-products">Our Products<fa-icon [icon]="angleDown"></fa-icon></a>
                        <div class="our-product-sub-menu-res">
                            <ul>
                                <li><a >Electromechanic Products</a></li>
                                <li><a >Solar Products</a></li>
                                <li><a >Agricultural Products</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a >Retail Shop</a></li>
                </ul>
            </div>
        </li>
        <li><a><fa-icon [icon]="course"></fa-icon>Trainings & Workshops<fa-icon [icon]="angleDown"></fa-icon></a>
            <div class="trainings-workshops-sub-menu-res">
                <ul>
                    <li><a >Certificate Program</a></li>
                </ul>
            </div>
        </li>
        <li><a><fa-icon [icon]="service"></fa-icon>Services & Maintenance<fa-icon [icon]="angleDown"></fa-icon></a>
            <div class="services-res">
                <ul>
                    <li><a >Solar Plant Installation</a></li>
                    <li><a >Customized Industrial Solutions<fa-icon [icon]="angleDown"></fa-icon></a>
                        <div class="customized-industrial-solution-sub-menu-res">
                            <ul>
                                <li><a >PCB Design & Fabrication</a></li>
                                <li><a >Electromechanical Circuitry Customization</a></li>
                                <li><a >3D Prototype Printing</a></li>
                                <li><a >Water Overflow Solutions</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a routerLink="career"><fa-icon [icon]="career"></fa-icon>Career</a></li>
        <li><a routerLink="about-us"><fa-icon [icon]="about"></fa-icon>About Us</a></li>
        <li><button class="signup-btn">SignUp</button></li>
    </ul>
</header>