.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 60px;
    margin: 0;
}

.nav-bar-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-link li {
    margin-left: 25px;
    list-style-type: none;
    font-size: 15px;
}

.nav-bar-link li a {
    text-decoration: none;
    color: #2B557F;
}
.nav-bar-link li a:hover{
    color: #373737;
}
.nav-bar-link li a fa-icon{
    margin-right: 5px;
}

.tadoba-logo a img {
    height: 55px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 35px;
    background-color: #fff;
    
}
.search input{
    height: 25px;

}
.search button{
    height: 27px;
    width: 40px;

}
/* ==================================================== hide sub menu defult view ========================================== */
.services{
    display: none;
}
.products{
    display: none;
}
.trainings-workshops-sub-menu{
    display: none;
}
.our-product-sub-menu{
    display: none;
}
.customized-industrial-solution-sub-menu{
    display: none;
}
/* ======================================================== hover section=========================== */
.nav-bar-link li:hover .services{
    display: block;
    position: absolute;
    justify-content: center;
    text-align: left;
    padding: 23px 23px 23px 0px;
    z-index: 999;
    background-color: #fff;
    

}
.nav-bar-link li:hover .trainings-workshops-sub-menu{
    display: block;
    position: absolute;
    justify-content: center;
    text-align: left;
    padding: 23px 23px 23px 0px;
    z-index: 999;
    background-color: #fff;
}


.nav-bar-link li:hover .products{
    display: block;
    position: absolute;
    text-align: left;
    padding: 23px 23px 23px 0px;
    z-index: 999;
    background-color: #fff;
    
}

.products li:hover .our-product-sub-menu{
    display: block;
    position: absolute;
    text-align: left;
    padding: 23px 23px 23px 0px;
    z-index: 999;
    background-color: #fff;
    margin-left: 90px;
    
}

.services li:hover .customized-industrial-solution-sub-menu{
    display: block;
    position: absolute;
    text-align: left;
    padding: 23px 23px 23px 0px;
    z-index: 999;
    background-color: #fff;
    margin-left: 90px;
    width: 300px;
    
}
/* ================================================================ menu UL editing ======================================= */

.nav-bar-link li:hover .products ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.nav-bar-link li:hover .trainings-workshops-sub-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-bar-link li:hover .services ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.products li:hover .our-product-sub-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.services li:hover .customized-industrial-solution-sub-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* ======================================================================================= */
.services ul li{
    margin-top: 10px;
    padding: 0px 0px 10px 0px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.404); */
    width: 100%;

}
.trainings-workshops-sub-menu ul li{
    margin-top: 10px;
    padding: 0px 0px 10px 0px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.404); */
    width: 100%;

}
.products ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.404);  */
    width: 100%;
}
.our-product-sub-menu ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.404);  */
    width: 100%;
}
.customized-industrial-solution-sub-menu ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.404);  */
    width: 100%;
}
/* ======================================================================== */
.nav-bar-link li button{
    padding: 3px 5px 3px 5px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 5px;

}.hamburger-menu{
    display: none;
}
.nav-bar-link-res{
    display: none; /* Hidden by default */
    position: absolute;
    top: -100%; /* Start off-screen */
    left: 0;
    width: 100%;
    background-color: rgba(39, 38, 38, 0.918);
    height: 70vh;
    z-index: 100;
    text-align: left;
    transition: top 0.5s ease;
}

.signup-btn{
    background-color: #2c547f !important;
    color: white;
    border-radius: 15px !important;
    height: 35px;
    width: 90px;
    font-size: 14px;
    border-color: #2c547f;
    cursor: pointer;
}
.signup-btn:hover{
    background-color: #284e6d !important;
    transform: scale(1.09)
}
/* ===================================================== MEDIA QUERY ========================================== */

/* Laptop */
@media(min-width:769px) and (max-width:1024px){
    .nav-bar-link li a{
        font-size: small;
    }
    .signup-btn{
        height: 30px;
    }
}
/* tablet */
@media (min-width: 425px) and (max-width: 768px){
    .nav-bar-link{
        display: none;
    }
    .nav-bar-link-res.active {
        display: flex; /* Make the menu visible */
        flex-direction: column;
        justify-content: space-around;
        top: 7%; 
    }
    .nav-bar-link-res li{
        padding-left: 70px;
        list-style-type: none;
    }
    .nav-bar-link-res li a{
        font-size: 17px;
        color: white;
        text-decoration: none;
    }
    .nav-bar-link-res li a fa-icon{
        margin-right: 5px;
    }
    .nav-bar-link-res {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav-bar-link-res.active li button{
        border: 1px solid black;
        border-radius: 5px;
        
    }
    .hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .hamburger-menu fa-icon{
        font-size: 20px;
        color: black;
    }
    /* =================================== menu css======================= */
    .products-res{
        display: none;
    }
    .our-product-sub-menu-res{
        display: none;
    }
    .trainings-workshops-sub-menu-res{
        display: none;
    }
    .services-res{
        display: none;
    }
    .customized-industrial-solution-sub-menu-res{
        display: none;
    }
    /* ================= hover css================== */
    .nav-bar-link-res li:hover .services-res{
        display: block;
        background-color: white;
        
        
        
    
    }
    .nav-bar-link-res li:hover .trainings-workshops-sub-menu-res{
        display: block;
        background-color: white;
    }
    
    
    .nav-bar-link-res li:hover .products-res{
        display: block;
        background-color: white;
        
    }
    
    .products-res li:hover .our-product-sub-menu-res{
        display: block;
        margin-left: 10px;
        background-color: white;
        
    }
    
    .services-res li:hover .customized-industrial-solution-sub-menu-res{
        display: block;
        margin-left: 10px;
        background-color: white;
        width: 300px;
        
    }
    /* ===================================================== */

    .nav-bar-link-res li:hover .products-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav-bar-link-res li:hover .trainings-workshops-sub-menu-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .nav-bar-link-res li:hover .services-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .products-res li:hover .our-product-sub-menu-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .services-res li:hover .customized-industrial-solution-sub-menu-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }


    /* ======================================================================================= */
.services-res ul li{
    margin-top: 10px;
    padding: 0px 0px 10px 0px;
    width: 100%;

}
.trainings-workshops-sub-menu-res ul li{
    margin-top: 10px;
    padding: 0px 0px 10px 0px;
    width: 100%;

}
.products-res ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    width: 100%;
}
.our-product-sub-menu-res ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    width: 100%;
}
.customized-industrial-solution-sub-menu-res ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    width: 100%;
}
    .nav-bar-link-res li ul li a{
        color: black;
    }
}
@media (max-width: 425px) {
    .nav-bar-link{
        display: none;
    }
    .nav-bar-link-res.active {
        display: flex; /* Make the menu visible */
        flex-direction: column;
        justify-content: space-around;
        top: 8.5%;
    }
    .nav-bar-link-res li{
        padding-left: 70px;
        list-style-type: none;
    }
    .nav-bar-link-res li a{
        font-size: 17px;
        color: white;
        text-decoration: none;
    }
    .nav-bar-link-res li a fa-icon{
        margin-right: 5px;
    }
    .nav-bar-link-res {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav-bar-link-res.active li button{
        border: 1px solid black;
        border-radius: 5px;

    }
    .hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .hamburger-menu fa-icon{
        font-size: 20px;
        color: black;
    }
    /* =================================== menu css======================= */
    .products-res{
        display: none;
    }
    .our-product-sub-menu-res{
        display: none;
    }
    .trainings-workshops-sub-menu-res{
        display: none;
    }
    .services-res{
        display: none;
    }
    .customized-industrial-solution-sub-menu-res{
        display: none;
    }
    /* ================= hover css================== */
    .nav-bar-link-res li:hover .services-res{
        display: block;
        background-color: white;
        
        
        
    
    }
    .nav-bar-link-res li:hover .trainings-workshops-sub-menu-res{
        display: block;
        background-color: white;
    }
    
    
    .nav-bar-link-res li:hover .products-res{
        display: block;
        background-color: white;
        
    }
    
    .products-res li:hover .our-product-sub-menu-res{
        display: block;
        margin-left: 10px;
        background-color: white;
        
    }
    
    .services-res li:hover .customized-industrial-solution-sub-menu-res{
        display: block;
        margin-left: 10px;
        background-color: white;
        width: 300px;
        
    }
    /* ===================================================== */

    .nav-bar-link-res li:hover .products-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav-bar-link-res li:hover .trainings-workshops-sub-menu-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .nav-bar-link-res li:hover .services-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .products-res li:hover .our-product-sub-menu-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .services-res li:hover .customized-industrial-solution-sub-menu-res ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }


    /* ======================================================================================= */
.services-res ul li{
    margin-top: 10px;
    padding: 0px 0px 10px 0px;
    width: 100%;

}
.trainings-workshops-sub-menu-res ul li{
    margin-top: 10px;
    padding: 0px 0px 10px 0px;
    width: 100%;

}
.products-res ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    width: 100%;
}
.our-product-sub-menu-res ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    width: 100%;
}
.customized-industrial-solution-sub-menu-res ul li{
    margin-top: 10px;  
    padding: 0px 0px 10px 0px;
    width: 100%;
}
    .nav-bar-link-res li ul li a{
        color: black;
    }
    
    
    
}
