<div class="container">
    <h6 class="workshop-heading">Hands-on Training On 3D Desiging and Fabrication</h6>
    <mat-accordion>

        <!-- Chapter 1 -->
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
            class="outer-panel">
            <mat-expansion-panel-header>
                <mat-panel-title class="outer-panel-titile"> 1. Foundations of 3D Design </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Session 1 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 1. Introduction to Manufacturing & 3D
                        Design</mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li>Overview of manufacturing: Subtractive (CNC machining) vs. additive (3D printing). </li>
                    <li>Why 3D designs matters: Speed, customization, and prototyping.</li>
                    <li><b>Software Installation:</b> Assist participants in downloading free tools (e.g.,
                        TinkerCAD, Fusion360 for students). </li>
                    <li><b>Activity:</b>Icebreaker: “Design a simple 2D object (e.g., a chair) using pen/paper and
                        share ideas.”</li>
                </ul>
            </mat-expansion-panel>
            <!-- Session 2 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 2. Engineering Drawing Basics
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li>Orthographic/isometric projections.</li>
                    <li>Dimensioning, tolerances, and scale. </li>
                    <li>Projections of planes/solids (cubes, cylinders). </li>
                    <li><b>Activity:</b> Sketch orthographic views of a simple object (e.g., a dice). </li>
                </ul>
            </mat-expansion-panel>
             <!-- Session 3 -->
             <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
             class="session-panel">
             <mat-expansion-panel-header>
                 <mat-panel-title class="session-panel-titile">Session 3.  CAD Software Introduction 
                 </mat-panel-title>
             </mat-expansion-panel-header>
             <ul class="bullet-list">
                 <li>Interface walkthrough (toolbars, workspace, shortcuts).</li>
                 <li>Basic tools: Extrude, revolve, fillet, chamfer. </li>
                 <li>Parametric vs. direct modeling. </li>
                 <li><b>Activity:</b>Create a 3D keychain with text/logo in CAD software.</li>
                 <li><b>Assignment:</b>Design a 2D sketch of practice (to convert to 3D on Day 2). </li>
             </ul>
         </mat-expansion-panel>
        </mat-expansion-panel>

        <!-- Chapter 2 -->
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
            class="outer-panel">
            <mat-expansion-panel-header>
                <mat-panel-title class="outer-panel-titile">2. 2D to 3D Conversion & Advanced Modeling</mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Session 1 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 1. Recap & Assignment Review
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li>Troubleshoot common CAD errors (e.g., unconstrained sketches). </li>
                    <li>Discuss real-world applications of 3D modeling (e.g., product design). </li>
                    <li><b>Activity:</b> Participants present their 2D bookshelf sketches; group feedback.</li>
                </ul>
            </mat-expansion-panel>
            <!-- Session 2 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 2. Converting 2D to 3D</mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li>Step-by-step demo: Turning 2D sketches into 3D models.</li>
                    <li>Advanced tools: Loft, sweep, boolean operations. </li>
                    <li>Design for assembly (e.g., interlocking parts). </li>
                    <li><b>Activity:</b> Convert the 2D bookshelf sketch into a 3D model with shelves, supports, and
                        joints.</li>
                    <li><b>Assignment:</b> Export the model as an STL file for Day 3 printing.</li>
                </ul>
            </mat-expansion-panel>
            <!-- Session 3 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 3. Design Optimization </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li>Stress analysis basics (simulate load-bearing structures). </li>
                    <li>Hollowing, rib design, and material efficiency. </li>
                    <li><b>Activity:</b> Optimize the bookshelf model for lightweight 3D printing.</li>
                </ul>
            </mat-expansion-panel>
        </mat-expansion-panel>

        <!-- Chapter 3 -->
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
            class="outer-panel">
            <mat-expansion-panel-header>
                <mat-panel-title class="outer-panel-titile">3. 3D Printing, Post-Processing & Final Projects
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Session 1 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 1. Introduction to 3D
                        Printing</mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li><b>Technologies:</b> FDM (common), SLA (resin), SLS (industrial). </li>
                    <li><b>Materials:</b> PLA (beginner-friendly), ABS (durable), PETG (flexible).</li>
                    <li><b>File Formats:</b> STL vs. OBJ vs. 3MF. </li>
                    <li><b>Activity:</b> Compare printed samples of PLA vs. ABS (strength, texture).  </li>
                </ul>
            </mat-expansion-panel>
            <!-- Session 2 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 2. Slicing & Printing</mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li>Slicing demo (Cura/PrusaSlicer): Layer height, infill, supports.</li>
                    <li>Printer setup: Bed leveling, nozzle temperature, filament loading.</li>
                    <li><b>Activity 1:</b> Slice the bookshelf model and start group printing. </li>
                    <li><b>Activity 2:</b> Troubleshoot live issues (e.g., warping, stringing). </li>
                </ul>
            </mat-expansion-panel>
            <!-- Session 3 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 3.  Post-Processing Techniques</mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li>Sanding, priming, and acetone smoothing (for ABS).</li>
                    <li>Painting/assembly: Use adhesives (super glue, epoxy). </li>
                    <li><b>Activity:</b> Refine a printed object and assemble multi-part designs. </li>
                </ul>
            </mat-expansion-panel>
            <!-- Session 4 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 4. Final Group Project</mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li>Design and print a functional object (e.g., plant holder, puzzle).</li>
                    <li>Constraints: Must use &lt;50g of material and fit within 2 hours of print time. </li>
                    <li><b>Showcase:</b> Groups present their work, explaining design choices and challenges. </li>
                </ul>
            </mat-expansion-panel>
            <!-- Session 5 -->
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
                class="session-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="session-panel-titile">Session 5. Industry Applications & Closing</mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="bullet-list">
                    <li><b>Case Studies:</b> Automotive (prototyping), healthcare (prosthetics). </li>
                    <li><b>Certificates & Feedback:</b> Distribute participation certificates and collect feedback forms. </li>
                </ul>
            </mat-expansion-panel>
        </mat-expansion-panel>
    </mat-accordion>
</div>