  .card {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 340px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 50px;
  }
  .p-img-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
  }
  .card .p-img {
    width: 120px;
    height: 120px;
    padding: 5px;
  }
  .p-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .product-img{
    object-fit: cover;
  }
  .p-detail {
    padding-left: 5px;
    padding-bottom: 5px;
  }
  .p-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 500;
    color: #373737;
    padding-left: 5px;
    font-family: "Open Sans", sans-serif;
    height: 40px;
    font-size: 13px;
  }
  .p-rating-availability{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
  }
  .p-price {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 5px;
  
  }
  .p-price {
    color: #373737;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", serifsans-serif;
  }
  .pra {
    margin-right: 10px;
    color: #ff9d00;
  }
  .p-availability {
    background-color: #32c26c;
    height: 15px;
    width: 48px;
    border-radius: 5px;
    margin-top: -10px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  .view-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #25D366;
    color: white;
    border: 1px solid #25D366;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 11px;
    height: 30px;
    width: 170px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
  }
  .add-cart, fa-icon{
    margin-right: 5px;
    font-size: 12px;
  }
  .view-details fa-icon{
    margin-right: 5px;
    font-size: 14px;
  }
  .add-cart {
    background-color: #3D4494;
    color: white;
    border: 1px solid #3D4494;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 11px;
    height: 30px;
    width: 170px;
    margin-top: 10px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
  }
  .add-to-cart-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .star-filled, .star-outline{
    font-size: 15px;
    margin: 0 !important;
  }

  