<div class="workshop-container">
    <h1>Ongoing Workshops</h1>
    <div class="workshop-grid">
        <!-- Workshop Card 1 -->
        <div class="workshop-card">
            <!-- <img src="https://via.placeholder.com/300x200" alt="Workshop Image"> -->
            <h2> Electric Vehicles (EVs) Workshop</h2>
            <p>The EV Workshop Program offers practical and theoretical insights into electric vehicles, focusing on
                technology, design, and sustainability.</p>
            <button routerLink="/ev-workshop" mat-stroked-button>Learn More</button>
        </div>

        <!-- Workshop Card 2 -->
        <div class="workshop-card">
            <!-- <img src="https://via.placeholder.com/300x200" alt="Workshop Image"> -->
            <h2>Advanced IIoT Workshop with Embedded Systems</h2>
            <p>The Solar PV Plant Workshop provides hands-on training in solar photovoltaic systems, including off-grid,
                on-grid, and hybrid plant installation, along with insights into wind and hydrogen energy.</p>
            <button mat-stroked-button routerLink="/iiot-workshop">Learn More</button>
        </div>

        <!-- Workshop Card 3 -->
        <div class="workshop-card">
            <!-- <img src="https://via.placeholder.com/300x200" alt="Workshop Image"> -->
            <h2>Solar PV Plant Workshop</h2>
            <p>The Advanced IoT Workshop with Embedded Systems offers comprehensive training on IoT architecture,
                embedded systems, LoRa & GSM technologies, edge computing, and real-world projects like smart
                agriculture and city infrastructure.</p>
            <button mat-stroked-button routerLink="/solar-pv-pant-workshop">Learn More</button>
        </div>
    </div>
</div>