<div class="container swiper">
    <div class="slider-wrapper">
        <div class="card-list swiper-wrapper">
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img1.jpg" alt="" class="card-img">
                <a href="https://www.google.com"><h2 class="card-title">Solar PV Plant Installation</h2></a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img2.jpg" alt="" class="card-img">
                <a href=""><h2 class="card-title">PCB Design & Fabrication</h2></a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img3.jpg" alt="" class="card-img">
                <a href=""><h2 class="card-title">Customized Industrial Solutions</h2></a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img4.jpg" alt="" class="card-img">
                <h2 class="card-title">3D Prototype Printing </h2>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img1.jpg" alt="" class="card-img">
                <a href=""><h2 class="card-title">Trainings & Workshops</h2></a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img2.jpg" alt="" class="card-img">
                <a href=""><h2 class="card-title">Completed Project Overview</h2></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-slide-button swiper-button-prev"></div>
        <div class="swiper-slide-button swiper-button-next"></div>
    </div>
</div>
