<div class="container swiper">
    <div class="slider-wrapper">
        <div class="card-list swiper-wrapper">
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider/installation.jpg" alt="" class="card-img">
                <a href="https://www.google.com">
                    <h2 class="card-title">Solar PV Plant Installation</h2>
                </a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider/portable.png" alt="" class="card-img">
                <a href="">
                    <h2 class="card-title">FarmEye + (Portable Soil Health Monitoring System With Display)</h2>
                </a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider/soil.png" alt="" class="card-img" style="object-fit: contain;">
                <h2 class="card-title">FarmEye + (Solar Power IOT Enabled Soil Health Monitoring System)</h2>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider/1.png" alt="" class="card-img">
                <a href="">
                    <h2 class="card-title">Water Overflow Controller</h2>
                </a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider/whether.jpg" alt="" class="card-img">
                <a href="">
                    <h2 class="card-title">Weather Station</h2>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-slide-button swiper-button-prev"></div>
        <div class="swiper-slide-button swiper-button-next"></div>
    </div>
</div>
