<div class="container swiper">
    <div class="slider-wrapper">
        <div class="card-list swiper-wrapper">
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img1.jpg" alt="" class="card-img">
                <a href="https://www.google.com"><h2 class="card-title">1st Card Heading</h2></a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img2.jpg" alt="" class="card-img">
                <a href=""><h2 class="card-title">2nd Card Heading</h2></a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img3.jpg" alt="" class="card-img">
                <a href=""><h2 class="card-title">3rd Card Heading</h2></a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img4.jpg" alt="" class="card-img">
                <h2 class="card-title">4th Card Heading Long one with the </h2>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img1.jpg" alt="" class="card-img">
                <a href=""><h2 class="card-title">5th Card Heading</h2></a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img2.jpg" alt="" class="card-img">
                <a href=""><h2 class="card-title">6th Card Heading</h2></a>
            </div>
            <div class="card-item swiper-slide">
                <img src="./assets/images/slider-images/img3.jpg" alt="" class="card-img">
                <a href=""><h2 class="card-title">7th Card Heading</h2></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <!-- <button mat-icon-button class="custom-button-prev"><mat-icon>arrow_back_ios</mat-icon></button>
        <button mat-icon-button class="custom-button-next"><mat-icon>arrow_forward_ios</mat-icon></button> -->
        <div class="swiper-slide-button swiper-button-prev"></div>
        <div class="swiper-slide-button swiper-button-next"></div>
    </div>
</div>
