<div class="top-bar">
    <div class="contact-section">
        <mat-icon>location_on</mat-icon>
        <a href=""><h6>Sejbahar, Raipur (C.G.), 492015</h6></a>
        <span>&#124;</span>
        <mat-icon>phone</mat-icon>
        <h6>+91 9685778971</h6>
        <span>&#124;</span>
        <mat-icon>mail_outline</mat-icon>
        <h6>info&#64;tadobasolutions.com</h6>
    </div>
    <div class="social-section">
        <div class="circle instgram">
            <fa-icon [icon]="instagram"></fa-icon>
        </div>
        <div class="circle twitter">
            <fa-icon [icon]="twitter"></fa-icon>
        </div>
        <div class="circle facebook">
            <fa-icon [icon]="facebook"></fa-icon>
        </div>
        <div class="circle youtube">
            <fa-icon [icon]="youtube"></fa-icon>
        </div>
    </div>
</div>
<app-header></app-header>
<app-home></app-home>
<!-- <app-footer></app-footer> -->