.container {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
  color: rgb(88, 87, 87);
}
.heading {
  font-size: 30px;
  color: #1a2936;
  font-family: "Roboto", sans-serif;
}
.common-heading {
  font-size: 20px;
  font-weight: bold;
}
ul {
  list-style-type: none;
}
fa-icon {
  margin-right: 10px;
  color: rgb(230, 81, 27);
}
ul li {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .heading {
    font-size: 30px;
  }
}
