.container{
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    color: rgb(88, 87, 87);
}
.heading h3{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #1a2936;
}
.content{
    padding: 10px;
}
ul{
    list-style-type: none;
}
fa-icon{
    margin-right: 10px;
    color: rgb(230, 81, 27);
}
ul li{
    margin-bottom: 15px;
}
.use-license-p{
    margin-top: 15px;
}