<div class="container">
    <div class="heading"><h3>Terms and Conditions</h3></div>
    <div class="content">
        <div class="terms">
            <h4>1. TERMS</h4>
            <p>By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, applicable laws and regulations and their compliance. If you disagree with any of the stated terms and conditions, you are prohibited from using or accessing this site. The materials contained in this site are secured by relevant copyright and trade mark law.</p>
        </div>
        <div class="use-license">
            <h4>2. Use License</h4>
            <ul>
                <li ><b>a.</b> Permission is allowed to temporarily download one duplicate of the materials (data or programming) on Tadoba Solutions Pvt. Ltd.'s site for individual and non-business use only. This is the just a permit of license and not an exchange of title, and under this permit you may not:
                    <ul class="use-license-p">
                        <li><fa-icon [icon]="bullete"></fa-icon> Modify or copy the materials;</li>
                        <li><fa-icon [icon]="bullete"></fa-icon> Use the materials for any commercial use , or for any public presentation (business or non-business);</li>
                        <li><fa-icon [icon]="bullete"></fa-icon> Attempt to decompile or rebuild any product or material contained on Tadoba Solutions Pvt. Ltd.'s site;</li>
                        <li><fa-icon [icon]="bullete"></fa-icon> Remove any copyright or other restrictive documentations from the materials; or</li>
                        <li><fa-icon [icon]="bullete"></fa-icon>  Transfer the materials to someone else or even "mirror" the materials on other server.</li>
                    </ul>
                </li>
                <li><b>b.</b> This permit might consequently be terminated if you disregard any of these confinements and may be ended by Tadoba Solutions Pvt. Ltd. whenever deemed. After permit termination or when your viewing permit is terminated, you must destroy any downloaded materials in your ownership whether in electronic or printed form.</li>
            </ul>
        </div>
        <div class="disclaimer">
            <h4>3. Disclaimer</h4>
            <p>The materials on Tadoba Solutions Pvt. Ltd.'s site are given "as is". Tadoba Solutions Pvt. Ltd. makes no guarantees, communicated or suggested, and thus renounces and nullifies every single other warranties, including without impediment, inferred guarantees or states of merchantability, fitness for a specific reason, or non-encroachment of licensed property or other infringement of rights. Further, Tadoba Solutions Pvt. Ltd. does not warrant or make any representations concerning the precision, likely results, or unwavering quality of the utilization of the materials on its Internet site or generally identifying with such materials or on any destinations connected to this website.</p>
        </div>
        <div class="constraints">
            <h4>4. Constraints</h4>
            <p>In no occasion should Tadoba Solutions Pvt. Ltd. or its suppliers subject for any harms (counting, without constraint, harms for loss of information or benefit, or because of business interference,) emerging out of the utilization or powerlessness to utilize the materials on Tadoba Solutions Pvt. Ltd.'s Internet webpage, regardless of the possibility that Tadoba Solutions Pvt. Ltd. or a Tadoba Solutions Pvt. Ltd. approved agent has been told orally or in written of the likelihood of such harm. Since a few purviews don't permit constraints on inferred guarantees, or impediments of obligation for weighty or coincidental harms, these confinements may not make a difference to you.</p>
        </div>
        <div class="Amendments-and-Errata">
            <h4>5. Amendments and Errata</h4>
            <p>The materials showing up on Tadoba Solutions Pvt. Ltd.'s site could incorporate typographical, or photographic mistakes. Tadoba Solutions Pvt. Ltd. does not warrant that any of the materials on its site are exact, finished, or current. Tadoba Solutions Pvt. Ltd. may roll out improvements to the materials contained on its site whenever without notification. Tadoba Solutions Pvt. Ltd. does not, then again, make any dedication to update the materials.</p>
        </div>
        <div class="links">
            <h4>6. Links</h4>
            <p>Tadoba Solutions Pvt. Ltd. has not checked on the majority of the websites or links connected to its website and is not in charge of the substance of any such connected webpage. The incorporation of any connection does not infer support by Tadoba Solutions Pvt. Ltd. of the site. Utilization of any such connected site is at the user's own risk.</p>
        </div>
        <div class="site-Terms-of-Use-Modifications">
            <h4>Site Terms of Use Modifications</h4>
            <p>Tadoba Solutions Pvt. Ltd. may update these terms of utilization for its website whenever without notification. By utilizing this site you are consenting to be bound by the then current form of these Terms and Conditions of Use.</p>
        </div>
        <div class="governing-Law">
            <h4>8. Governing Law</h4>
            <p>Any case identifying with Tadoba Solutions Pvt. Ltd.'s site should be administered by the laws of the country of India Tadoba Solutions Pvt. Ltd. State without respect to its contention of law provisions.General Terms and Conditions applicable to Use of a Web Site.</p>
        </div>
        <div class="privacy-Policy">
            <h4>Privacy Policy</h4>
            <p>Your privacy is critical to us. Likewise, we have built up this Policy with the end goal you should see how we gather, utilize, impart and reveal and make utilization of individual data. The following blueprints our privacy policy.</p>
            <ul>
                <li><fa-icon [icon]="bullete"></fa-icon> Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</li>
                <li><fa-icon [icon]="bullete"></fa-icon> We will gather and utilization of individual data singularly with the target of satisfying those reasons indicated by us and for other good purposes, unless we get the assent of the individual concerned or as required by law.</li>
                <li><fa-icon [icon]="bullete"></fa-icon> We will just hold individual data the length of essential for the satisfaction of those reasons.</li>
                <li><fa-icon [icon]="bullete"></fa-icon> We will gather individual data by legal and reasonable means and, where fitting, with the information or assent of the individual concerned.</li>
                <li><fa-icon [icon]="bullete"></fa-icon> Personal information ought to be important to the reasons for which it is to be utilized, and, to the degree essential for those reasons, ought to be exact, finished, and updated.</li>
                <li><fa-icon [icon]="bullete"></fa-icon> We will protect individual data by security shields against misfortune or burglary, and also unapproved access, divulgence, duplicating, use or alteration.
                </li>
                <li><fa-icon [icon]="bullete"></fa-icon> We will promptly provide customers with access to our policies and procedures for the administration of individual data.
                </li>
                <li><fa-icon [icon]="bullete"></fa-icon> We are focused on leading our business as per these standards with a specific end goal to guarantee that the privacy of individual data is secure and maintained.</li>
            </ul>
        </div>
    </div>
</div>