<div class="container">
    <h2 class="page-heading"> SOLAR PV PLANT INSTALLATIONS</h2>
    <div class="icon-div-heading">
        <div class="icon-div">
            <img src="./assets/images/maintenance/solar-panel.png" alt="">
            <h5>Solar PV Installation & Commissioning</h5>
        </div>
        <div class="icon-div">
            <img src="./assets/images/maintenance/mechanic.png" alt="">
            <h5>Operation & Maintenance (O&M)</h5>
        </div>
        <div class="icon-div">
            <img src="./assets/images/maintenance/electric-generator.png" alt="">
            <h5>Solar PV Plant Generation Optimization</h5>
        </div>
    </div>
    <hr class="top-hr">
    <div class="second-section">
        <div class="bullet-div">
            <ul>
                <li>Domestic, Commercial & Industrial Solar PV Plant</li>
                <li>Agrivoltaics Solar PV Plant</li>
                <li>Captive & Group Captive Solar PV Plant</li>
                <li>Operation and Maintenance of Solar PV Plant</li>
                <li>Solar PV Plant Generation Optimization</li>
            </ul>
        </div>
        <div class="images-div">
            <div class="image-box">
                <img src="./assets/images/maintenance/installations.jpg" alt="">
            </div>
            <div class="image-box">
                <img src="./assets/images/maintenance/plant.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="about-us-section">
        <div class="about-us-container">
            <div class="about-us-text">
                <div class="about-us-content">
                    <h3>About Us</h3>
                    <p>
                        <b>Tadoba Solutions Pvt. Ltd. is working in</b> various Solar Photovoltaics Applications and
                        Design
                        fields.
                        Our company has been actively involved in the Solar PV sector since 2018 and has successfully
                        completed
                        numerous projects, ranging from Domestic, Commercial, Industrial PV plants to Agrivoltaics (MW
                        level) PV
                        Plants, Captive & Group Captive Solar PV Plants, and Utility-scale solar power plants.
                    </p>
                    <p>
                        Apart from the Solar PV Business, we are working towards excellence by designing, manufacturing,
                        modifying, and maintaining products and services for personal and commercial use, by adopting
                        various
                        modes with the use of technology and its applications in the electrical & electronics space.
                    </p>
                    <p>
                        <b>Our technical experts</b> come from different areas (Solar Photovoltaics, PCB Design, Product
                        hardware, etc.).
                        Our goal is to provide high-quality indigenous products with the best services. Our products
                        include
                        energy-saving solutions like water overflow controllers, inverter bulbs, solar street lights,
                        solar smart
                        standalone cameras, solar photovoltaics DC/AC systems (Domestic), solar PV cleaners, and more.
                    </p>
                </div>

                <div class="service-includes-content">
                    <h3>Our Services Includes</h3>
                    <ul>
                        <li>
                            <p>Operation and Maintenance (O&M) of Solar PV Plants (Domestic, Commercial & Industrial).
                            </p>
                        </li>
                        <li>
                            <p>Installation and Commissioning of all kinds of Solar PV Plants.</p>
                        </li>
                        <li>
                            <p>Optimization of aged Solar PV Plants for better energy generation.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="about-us-images">
                <div class="about-us-image-box">
                    <img src="./assets/images/maintenance/aui1.jpg" alt="">
                    <h4>Industrial Shed 5 kW, Shankar Nagar Raipur</h4>
                </div>
                <div class="about-us-image-box">
                    <img src="./assets/images/maintenance/aui2.jpg" alt="">
                    <h4>PV Port System, BIT Raipur</h4>
                </div>
                <div class="about-us-image-box">
                    <img src="./assets/images/maintenance/aui3.jpg" alt="">
                    <h4>Minimast Street Light, Mainpur Village in Nagari</h4>
                </div>
                <div class="about-us-image-box">
                    <img src="./assets/images/maintenance/aui4.jpg" alt="">
                    <h4>Solar PV Floating Aerator System</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="solar-pv-projects-container">
        <h2 class="solar-pv-heading">SOLAR PV PROJECTS</h2>
        <div class="solar-pv-project-box">
            <div class="solar-pv-project-box-image">
                <img src="./assets/images/maintenance/spvp1.jpg" alt="">
            </div>
            <div class="solar-pv-project-box-image-title">
                <p>Vardhman Hospital Durg 15 KW</p>
            </div>
        </div>
        <div class="solar-pv-project-box">
            <div class="solar-pv-project-box-image">
                <img src="./assets/images/maintenance/spvp2.jpg" alt="">
            </div>
            <div class="solar-pv-project-box-image-title">
                <p>Industrial Shed 5kW Jute Factory, Raipur</p>
            </div>
        </div>
        <div class="solar-pv-project-box">
            <div class="solar-pv-project-box-image">
                <img src="./assets/images/maintenance/spvp3.jpg" alt="">
            </div>
            <div class="solar-pv-project-box-image-title">
                <p>Risali, Maroda Basti, Bhilai</p>
            </div>
        </div>
        <div class="solar-pv-project-box">
            <div class="solar-pv-project-box-image">
                <img src="./assets/images/maintenance/spvp4.jpg" alt="">
            </div>
            <div class="solar-pv-project-box-image-title">
                <p>Solar Pump (3HP) Charama (Kanker)</p>
            </div>
        </div>
        <div class="solar-pv-project-box">
            <div class="solar-pv-project-box-image">
                <img src="./assets/images/maintenance/spvp5.jpg" alt="">
            </div>
            <div class="solar-pv-project-box-image-title">
                <p>Solar PV at Floating House Gangrel Dam</p>
            </div>
        </div>
        <div class="solar-pv-project-box">
            <div class="solar-pv-project-box-image">
                <img src="./assets/images/maintenance/spvp6.jpg" alt="">
            </div>
            <div class="solar-pv-project-box-image-title">
                <p>Solar PV Water Proof Parking Stand</p>
            </div>
        </div>
    </div>

    <section class="solar-section">
        <h2 class="section-title">SOLAR PRODUCTS</h2>

        <div class="solar-grid-container">
            <div class="grid-item wide" style="grid-area: sp1;">
                <div class="image-container">
                    <img src="./assets/images/maintenance/sp1.png" alt="sp1">
                </div>
                <p class="item-caption">Solar Standalone CCTV Camera</p>
            </div>

            <div class="grid-item wide" style="grid-area: sp2;">
                <div class="image-container">
                    <img src="./assets/images/maintenance/sp2.jpg" alt="sp2">
                </div>
                <p class="item-caption">Solar Street Light</p>
            </div>

            <div class="grid-item wide" style="grid-area: sp3;">
                <div class="image-container">
                    <img src="./assets/images/maintenance/sp3.jpg" alt="sp3">
                </div>
                <p class="item-caption">Solar PV Cleaner</p>
            </div>

            <!-- Merged sp4 -->
            <div class="grid-item merged-sp4" style="grid-area: sp4;">
                <img src="./assets/images/maintenance/sp4.jpg" alt="sp4">
            </div>

            <!-- Bottom row -->
            <div class="grid-item-bottom" style="grid-area: sp5;">
                <img src="./assets/images/maintenance/sp5.jpg" alt="sp5">
            </div>
            <div class="grid-item-bottom" style="grid-area: sp6;">
                <img src="./assets/images/maintenance/sp6.jpg" alt="sp6">
            </div>
            <div class="grid-item-bottom" style="grid-area: sp7;">
                <img src="./assets/images/maintenance/sp7.jpg" alt="sp7">
            </div>
        </div>
    </section>




</div>