<app-img-slider></app-img-slider>


<!-- Business Section -->
<div class="service-container">
    <h6>OUR BUSINESSES</h6>
    <div class="service-card-list">
        @for (data of serviceData; track $index) {
        <app-service-card [imgUrl]="data.imgUrl" [title]="data.title"
            [description]="data.description"></app-service-card>
        }
    </div>
    <button mat-button class="explore-btn">Explore More<mat-icon class="arrow-icon"
            iconPositionEnd>arrow_right_alt</mat-icon></button>
</div>

<!--Our Product Section -->
<div class="product-section">
    <div class="product-section-heading">
        <h6>OUR PRODUCTS</h6>
    </div>
    <div class="products laptop-small">
        @for (product of products3; track $index) {
        <app-product-card [productImg]="product.productImgUrl[0]" [productName]="product.productName"
            [productRating]="product.productRating" [productAvailability]="product.productAvailability"
            [productPrice]="product.productPrice"
            [productId]="product.productId"
            >
        </app-product-card>
        }
    </div>
    <div class="products laptop-large">
        @for (product of products; track $index) {
        <app-product-card [productImg]="product.productImgUrl[0]" [productName]="product.productName"
            [productRating]="product.productRating" [productAvailability]="product.productAvailability"
            [productPrice]="product.productPrice"
            [productId]="product.productId"
            >
        </app-product-card>
        }
    </div>
    <div class="see-more-product-button">
        <button class="see-more-btn" routerLink="/our-products" >See More<fa-icon [icon]="rightArrow"></fa-icon></button>
    </div>
</div>

<!-- Retail Product Section -->
<div class="product-section">

    <div class="product-section-heading">
        <h6>RETAIL PRODUCTS</h6>
    </div>
    <div class="products laptop-small">
        @for (product of products3; track $index) {
        <app-product-card [productImg]="product.productImgUrl[0]" [productName]="product.productName"
            [productRating]="product.productRating" [productAvailability]="product.productAvailability"
            [productPrice]="product.productPrice"
            [productId]="product.productId"
            >
        </app-product-card>
        }
    </div>
    <div class="products laptop-large">
        @for (product of products; track $index) {
        <app-product-card [productImg]="product.productImgUrl[0]" [productName]="product.productName"
            [productRating]="product.productRating" [productAvailability]="product.productAvailability"
            [productPrice]="product.productPrice"
            [productId]="product.productId"
            >
        </app-product-card>
        }
    </div>
    <div class="see-more-product-button">
        <button class="see-more-btn">See More<fa-icon [icon]="rightArrow"></fa-icon></button>
    </div>
</div>




<!-- Awards & Achievements -->
<div class="awards-container">
    <h6>AWARDS & ACHIEVEMENTS</h6>
    <div class="awards-card-list">
        <div class="awards-card">
            <img src="" alt="">
        </div>
        <div class="awards-card">
            <img src="" alt="">
        </div>
        <div class="awards-card">
            <img src="" alt="">
        </div>
        <div class="awards-card">
            <img src="" alt="">
        </div>
    </div>
    <button mat-button class="explore-btn">Explore More<mat-icon class="arrow-icon"
            iconPositionEnd>arrow_right_alt</mat-icon></button>
</div>


<!-- Project Section -->
<div class="project-container">
    <h6>RESEARCH & DEVELOPMENT PROJECTS</h6>
    <div class="project-sub-container">
        <div class="project-details-tile">
            <mat-icon>fiber_manual_record</mat-icon>
            <h6>Vardhman Hospital Durg 15 KW</h6>
        </div>
        <div class="project-details-tile">
            <mat-icon>fiber_manual_record</mat-icon>
            <h6>Industrial Shed 5 kW Jute Factory Raipur</h6>
        </div>
        <div class="project-details-tile">
            <mat-icon>fiber_manual_record</mat-icon>
            <h6>Risali, Maroda Basti, Bhilai</h6>
        </div>
        <div class="project-details-tile">
            <mat-icon>fiber_manual_record</mat-icon>
            <h6>Solar Pump (3 HP) Charama (Kanker)</h6>
        </div>
        <div class="project-details-tile">
            <mat-icon>fiber_manual_record</mat-icon>
            <h6>Solar PV at Floating House Gangrel Dam</h6>
        </div>
    </div>
</div>


<!-- ======================================== Our Partner========================================= -->
<div class="our-partner-section">
    <div class="our-partner-heading">
        <h6>OUR PARTNERS</h6>
    </div>
    <div class="partner-logo-and-name">
        <div class="partner-logo-and-name-box">
            <div class="partner-logo">
                <img src="./assets/images/cleint-img/iit-log-wb.png" alt="iit-log-wb" class="partner-logo-img">
            </div>
            <div class="partner-name"><span>Indian Institute
                    Of <br> Technology
                    Bhilai</span></div>
        </div>
        <div class="partner-logo-and-name-box">
            <div class="partner-logo">
                <img src="./assets/images/cleint-img/igkv-wb.png" alt="iit-log-wb" class="partner-logo-img">
            </div>
            <div class="partner-name"><span>Indra Gandhi Krishi <br>
                    Vishwavidyalaya Raipur, <br>
                    Chhattisgarh</span></div>
        </div>
        <div class="partner-logo-and-name-box">
            <div class="partner-logo forte">
                <img src="./assets/images/cleint-img/forte-wb.png" alt="iit-log-wb" class="partner-logo-img">
            </div>
            <div class="partner-name"><span>Foundation For
                    Technology
                    and Entrepreneurship</span></div>
        </div>
        <div class="partner-logo-and-name-box">
            <div class="partner-logo pt-ravi">
                <img src="./assets/images/cleint-img/Pt._Ravishankar_Shukla_University_logo.png" alt="iit-log-wb"
                    class="partner-logo-img">
            </div>
            <div class="partner-name"><span>Pt. Ravishankar Shukla
                    University, Raipur</span></div>
        </div>
        <div class="partner-logo-and-name-box">
            <div class="partner-logo csreda">
                <img src="./assets/images/cleint-img/csreda.png" alt="iit-log-wb" class="partner-logo-img">
            </div>
            <div class="partner-name"><span>Chhattisgarh State
                    Renewable
                    Energy Development Agency</span></div>
        </div>
        <div class="partner-logo-and-name-box">
            <div class="partner-logo vasu-Logistics">
                <img src="./assets/images/cleint-img/footer-vasu-logo.png" alt="iit-log-wb" class="partner-logo-img">
            </div>
            <div class="partner-name"><span>Shree Vasu Logistics <br>
                    Limited</span></div>
        </div>
    </div>
</div>


<!-- Quote Section -->

<div class="quote-section">
    <div class="quote-text-div">
        <h6>Looking For Quality and Affordable Services?</h6>
        <h5>Get an online quote</h5>
    </div>
    <form>
        <div class="form-div">
            <div class="form-sub-div">
                <mat-form-field class="mat-form" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="mat-form" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="form-sub-div">
                <mat-form-field class="mat-form" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="mat-form" appearance="outline">
                    <mat-label>Query</mat-label>
                    <textarea matInput placeholder="Write your query"></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button class="submit-quote-btn">Submit</button>
        </div>
    </form>
</div>