.quote-description-div {
  background-color: #2c547f;
  color: white;
  font-size: 26px;
  padding: 20px;
}
.quote-description-div h6 {
  margin: 0;
  font-weight: 500;
}
.quote-btn {
  height: 35px;
  width: 170px;
  background-color: #ff9d00;
  color: black !important;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* About Us Properties */
.about-us-div {
  padding: 20px;

}
/* .about-us-img{
  border: 2px solid red;
}
.about-us-description-div{
  border: 2px solid black;
} */
.about-us-div .heading {
  font-size: 22px;
  color: #373737;
  margin: 0;
}
.about-us-div .description {
  font-size: 16px;
  line-height: 1.5;
  color: #373737;
  text-align: justify;
  margin: 5px;
}
.about-us-div .explore-btn {
  height: 40px;
  width: 115px;
  border-radius: 15px;
  background-color: #2c547f;
  font-size: 14px;
  color: white !important;
  margin-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.property-container {
  margin-top: 5px;
  margin-left: 30px;
}
.about-us-div .property-div {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: left;
  align-items: center;
  width: 190px;
  gap: 10px;
  margin-bottom: 5px;
}
.property-div .check-icon {
  color: #32c26c;
}
.property-div h6 {
  font-size: 16px;
  color: #373737;
  font-weight: 500;
  margin: 0;
}

.service-container {
  background-color: #f5f6fa;
  padding: 40px 30px;
  /* border: 1px solid red; */
}
.service-container h6 {
  font-size: 20px;
  color: #373737;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}
.service-container app-service-card {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 380px;
}
/* =========================================PRODUCT SECTION===================================== */
.product-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #2B557F;
  padding-bottom: 50px;
}
.product-section-heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more-product-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.see-more-product-button button{
  height: 50px;
  width: 150px;
  margin-right: 50px;
  font-size: 15px;
}
.see-more-product-button fa-icon{
  margin-left: 10px;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #2B557F;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.card{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  height: 430px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 50px;
}
.card .p-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 300px;
  
  
}
.p-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
}
.p-detail{
  padding-left: 5px;
  padding-bottom: 5px;
}
.p-name{
  font-weight: 500;
  margin-bottom: 16px;
  color: #373737;
}
.p-price-rating-availability{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
}
.p-price{
  color: #373737;
  font-weight: 500;
  font-size: 16px;
}
.star-icon{
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.pra{
  margin-right: 10px;
  color: #FF9D00;
}
.p-availability{
 background-color: #32c26c;
 height: 15px;
  width: 48px;
  border-radius: 5px;
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-details{
  background-color: #2C547F;
  color: white;
  padding: 5px;
  border: 1px solid #2C547F;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 11px;
  height: 26px;
  width: 105px;
}
.add-cart{
  background-color: #FF9D00;
  color: white;
  padding: 5px;
  border: 1px solid #FF9D00;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 11px;
  height: 26px;
  width: 105px;
}
.see-more-btn{
  font-size: 18px !important;
  border-radius: 15px;
  border: 2px solid white;
  cursor: pointer;
}
.see-more-btn:hover{
  transform: scale(1.1);
}

.testimonial-section{
  border: 2px solid brown;
}
/* Mobile Media Query */
@media (max-width: 426px) {
  .service-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .service-row app-service-card {
    width: 100%;
    max-width: 356px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .quote-description-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 5px;
  }
  .about-us-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 5px;
  }
}



@media (min-width:426px) and (max-width:768px) {
  .quote-description-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .service-row {
    display: flex;
    gap: 48px;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 450px;
  }

  .service-row app-service-card {
    flex: 0 0 auto;
    width: 325px;
  }
  .about-us-img img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

}

/* Laptop Media Query */
@media (min-width: 769px) and (max-width:1024px){
  .quote-description-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .service-container {
    overflow-x: hidden;
  }

  .service-row {
    display: flex;
    gap: 28px;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 430px;
  }

  .service-row app-service-card {
    flex: 0 0 auto;
    width: 300px;
  }

  .service-row::-webkit-scrollbar {
    display: none;
  }

  .service-row::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }

  .service-row::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  .service-row::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  .about-us-img img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  .about-us-div{
    display: flex;
  }
  .about-us-img{
    width: 50%;
  }
  .about-us-description-div{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}


@media (min-width:1025px) and (max-width:1440px) {
  .quote-description-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .service-container {
    overflow-x: hidden;
  }

  .service-row {
    display: flex;
    gap: 37px;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 430px;
  }

  .service-row app-service-card {
    flex: 0 0 auto;
    width: 315px;
  }

  .service-row::-webkit-scrollbar {
    display: none;
  }

  .service-row::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }

  .service-row::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  .service-row::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  .about-us-img img{
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }
  .about-us-div{
    display: flex;
  }
  .about-us-img{
    width: 50%;
  }
  .about-us-description-div{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}


@media(min-width:1441px) {
  .quote-description-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .service-container {
    overflow-x: hidden;
    /* border: 2px solid red; */
  }

  .service-row {
    display: flex;
    gap: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 430px;
  }

  .service-row app-service-card {
    flex: 0 0 auto;
    width: 325px;
  }

  .service-row::-webkit-scrollbar {
    display: none;
  }

  .service-row::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }

  .service-row::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  .service-row::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  .about-us-img img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  .about-us-div{
    display: flex;
  }
  .about-us-img{
    width: 50%;
  }
  .about-us-description-div{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}