.service-container {
  background-color: #ffffff;
  padding: 40px 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.service-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: 20px;
  padding: 20px;
}
.service-container h6 {
  font-size: 24px;
  color: #1a2a36;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Roboto", serif;
}
.explore-btn {
  width: 170px;
  height: 50px;
  border-radius: 25px;
  background-color: #3d4494;
  color: #fff !important;
  border: none;
  margin-left: auto;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.explore-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* =========================================PRODUCT SECTION===================================== */
.product-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #3D4494;
  padding-bottom: 50px;
}
.product-section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-section-heading  h6 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Roboto", serif;
}
.see-more-product-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
.see-more-product-button button {
  height: 50px;
  width: 150px;
  margin-right: 50px;
  font-size: 15px;
}
.see-more-product-button fa-icon {
  margin-left: 10px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #3D4494;
  padding-top: 50px;
}
.laptop-small{
  display: none;
}
.see-more-btn {
  font-size: 18px !important;
  border: 3px solid #6F78DF;
  cursor: pointer;
  background-color: #6F78DF;
  color: #ffffffcc;
}

.see-more-btn:hover{
  transform: scale(1.1);
  background: none;
}
.see-more-product-button{
  background-color: #3D4494;
}

/* ==========================================================OUR PARTNERS SECTION ====================================== */

.our-partner-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F5F6FA;
}
.our-partner-heading{
  text-align: center;
  margin: 15px;
}
.our-partner-heading h6 {
  font-size: 24px;
  color: #1a2a36;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Roboto", serif;
}
.partner-logo-and-name{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
}

.partner-logo-and-name-box{
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.partner-logo{
  width: 160px;
  height: 120px;
  background-color: #FFFFFF;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 15px;
}
.forte{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pt-ravi{
  display: flex;
  justify-content: center;
  align-items: center;
}

.csreda{
  display: flex;
  justify-content: center;
  align-items: center;
}
.vasu-Logistics{
  background-color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.partner-logo img{
  width: 160px;
}
.pt-ravi img{
  width: 90px;
}
.forte img{
  width: 100px;
}

.partner-name{
  align-items: center;
  text-align: center;
}
/* ==========================================================MEDIA QUERY ====================================== */

/* Mobile Media Query */
@media (max-width: 426px) {
  .service-container {
    padding: 10px;
  }
  .service-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media (min-width: 429px) and (max-width: 768px) {
  .service-container {
    padding: 10px;
  }
  .service-card-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(345px, 1fr));
    gap: 10px;
    place-items: center;
  }
}

/* Laptop Media Query */
@media (min-width: 769px) and (max-width: 1024px) {
  .service-container {
    padding: 10px;
  }
  .service-card-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(310px, 1fr));
    gap: 10px;
    /* border: 1px solid red; */
  }
  .see-more-product-button{
    background-color: #3D4494;
  }
  .product-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .laptop-large{
    display: none;
  }
  .app-product-card{
    margin: 0px 10px 0px 0px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .service-container {
    padding: 10px;
  }
  .service-card-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(310px, 1fr));
    gap: 10px;
    /* border: 1px solid red; */
  }
}

@media (min-width: 1441px) {
  .service-container {
    padding: 40px;
  }
  .service-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* border: 1px solid red; */
  }
}
