<div class="container">
    <div class="hero-section">
        <div class="about-us-text">
            <div class="heading"><h4>About Us</h4></div>
            <div class="about-us-des"><p>We are working towards excellence in the electrical & electronics space, including solar photovoltaics, and believe in pursuing business through innovation and technology. Our start-up comes with several IITs with technical experts in different areas.</p></div>
            <div class="company-projects-reviews">
                <div class="reviw">
                    <div class="review-number">830+</div>
                    <div class="review-text">Positive Review</div>
                </div>
                <div class="experience">
                    <div class="experience-number">6.5+</div>
                    <div class="experience-text">Years Experience</div>
                </div>
                <div class="projects">
                    <div class="project-number">35+</div>
                    <div class="project-text">Projects Completed</div>
                </div>
            </div>
        </div>
        <div class="about-us-img">
            <img src="./assets/" alt="">
        </div>
    </div>
    <div class="vision-mission">
        <div class="vision-mision-heading"><h4>VISION & MISSION</h4></div>
        <div class="vision-mission-des"><p>Our mission is to build long term relationships with our customers by providing good quality products and services. We strive to delight our customers at every opportunity through exceptional customer services like solar PV installation and commissioning and always aggressively towards good services. Our future looks best products by accepting the customer demands.</p></div>
    </div>
    <div class="business-section">
        <div class="business-heading"><h4>BUSINESS</h4></div>
        <div class="business-des"><p>To engage in the business of designing, manufacturing, modifying and maintenance of products of various kinds including electronic components and electronic systems, indigenous electromechanical products and other indigenous product for personal and commercial use, by adopting various modes with the use of information technology and its applications.</p></div>
        <div class="business-brief-des">
            <div class="business-brief-des-img">
                <img src=".assets/" alt="">
            </div>
            <div class="business-brief-text">
                <div class="business-brief-des-text-heading"><h5>Brief Of Business</h5></div>
                <ul>
                    <li>To carry the business on IoT-based domestic, Commercial and Agriculture products.</li>
                    <li>To carry business on Solar PV systems, Agrivoltaics, Commissioning & Installation and Solar-based products for personal and Commercial use.</li>
                    <li>Provide a technical certification program.</li>
                    <li>Electronics Components, Controller and different kind of sensor based products, wireless Transmitter/Receiver, Relay Module, and  Remote Data Management Models.</li>
                    <li>Design, supply, commission, maintain, troubleshoot, repair, service etc. of Electrical and Electronics goods, items, parts, and spare.</li>
                </ul>
            </div>
        </div>
    </div>
</div>