<div class="service-container">
    <div class="service-img">
        <img [src]="imgUrl" alt=""
            class="img">
    </div>
    <div class="cricle-div">
        <fa-icon [icon]="icon" class="tool-icon"></fa-icon>
    </div>
    <div class="service-details-div">
        <h6>{{title}}</h6>
        <p>Our start-up comes with technical experts in different areas coming from several IITs with goal to provide
            best quality products.
        </p>
        <button mat-button class="read-more-btn">Read More <mat-icon class="arrow-icon" iconPositionEnd>arrow_right_alt</mat-icon></button>
    </div>
</div>